body {color:#033}
h1, h2, div.c {text-align:center}
h1.l, h2.l {text-align:left}
a:hover {text-decoration:underline}
a:link, a:visited {color:#039}
a:link.red, a:visited.red, .red a:link, .red a:visited {color:#933}
ul li {list-style:disc}
dt {font-weight:bold}
dl, ul {padding-left:0px; margin-left:0px; margin-top:8px; margin-bottom:8px}
.nl {padding-left:30px}
.nl strong {color:#990000}
br {clear:both}
pre {border:1px solid black; border-spacing:2px; border-collapse:collapse; background-color:#ECECEC; font-size:larger}
img {border:0}
.last {width:100%; text-align:right; font-style:italic}
.last img {border:0; width:88px; height:31px}
.links {text-align:center; font-family:monospace; font-weight:bold}
.links a {text-decoration:none}
.lbl {color:green}
.marked {background-color:#FFE5B4}
.nt, a.nt {color:blue; font-weight:bold}
.t {color:red; font-style:italic}
.meta, .cmd {color:green; font-style:italic; font-family:serif}
.b {text-align:right; font-style:italic}
.b img {width:150px; float:left}
.box {width:200px; height:200px}
.box img {width:200px}
.tag {border:1px solid #228B22; color:#228B22; margin:6px}
.tag a {color:#228B22}
.xs {font-size:smaller}
.hh {font-size:larger}
.fh {margin-bottom:0px}
.sh {margin-top:0px; text-align:center; font-style:italic}
